<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<body>
    <h1>Car</h1>
    {% for car in cars %}
        <div>
            <p>Brand: {{ car.car_brand }}</p>
            <p>Body: {{ car.car_body }}</p>
            <p>Description: {{ car.description|default:"-" }}</p>
            <p>Horsepower: {{ car.horse_power }}</p>
            <p>Drive: {{ car.car_drive }}</p>
            <p>Tax: {{ car.tax }}</p>
            <p>User: {{ car.user }}</p>
        </div>
        <hr>
    {% endfor %}
</body>
</html>